@charset "utf-8";
body{
    background: #111a39;
/*    background: #ccc;*/
/*    height: 100vh;*/
}

#wrap{
    width: 100%;
    height: inherit;
    margin: 0 auto;
    color: #fff;
    background: #111a39;
}
.row{
    padding: 0 28px;
}
.cont_1{
    padding: 0 100px;
    height: 100vh;
       
}
.serve_1{
    height: 0;
}
.cont_1 .serve_1 .title:hover h1{
    background: linear-gradient(to right, #d9b351, #ffee8d,#ffc627);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.cont_1 .serve_1 .title:hover span{
    -webkit-text-stroke: 0.5px #ffee8d;
}
.serve_1  .text:hover span{
    background: linear-gradient(to right, #d9b351, #ffee8d,#ffc627);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.cont_1 .serve_1 .text_650px:hover span{
    background: linear-gradient(to right, #d9b351, #ffee8d,#ffc627);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 700;
    font-size: 16px;
}
.cont_1 .serve_2 .tab .tab_btn ul li:hover{
    border: solid 2px #f7df00;
}
@media(min-width:1791px){
    #cont_1{}
    .container{width: 100%;}
    .row{padding: 0 28px;}
    .cont_1{
        padding: 0 100px;
    }

    /*serve_1*/
    .cont_1 .serve_1{
/*        position: relative;*/
    }

    /*title*/
    .cont_1 .serve_1 .title{
        position: absolute;
        float: right;
        top: 250px;
        right: 450px;
        display: block;
        z-index: 10;
    }
    .cont_1 .serve_1 .title span{
        position: absolute;
        display: block;
        font-weight: 200;
        letter-spacing: 10px;
        font-size: 40px;
        right: 0;
        bottom: 170px;
    }
    .cont_1 .serve_1 .title h1{
        font-weight: 500;
        font-size: 140px;
        letter-spacing: 10px;
    }


    /*text*/
    .cont_1 .serve_1 .text{
        display: inline-block;
        text-align: center;
    }
    .cont_1 .serve_1 .text_650px{
        display: none;
    }
    .cont_1 .serve_2 .text_500px{
        display: none;
    }
    .cont_1 .serve_1 .text p{
        position: absolute;
        top: 480px;
        right: 400px;
        font-weight: 300;
        font-size: 18px;
        line-height: 40px;
        z-index: 11;
        letter-spacing: 4px;
    }
    .cont_1 .serve_1 .text p span{
        font-weight: bold;
        font-size: 25px;
        letter-spacing: 10px;
        line-height: 50px;

    }
    /*serve_2*/
    .cont_1 .serve_2{}
    .cont_1 .serve_2 .tab{}


    /*tab_btn*/
    .cont_1 .serve_2 .tab .tab_btn{
        position: relative;
        transition: all 0.8s;
    }
    .cont_1 .serve_2 .tab .tab_btn ul{
        position: absolute;
        padding: 0 0 0 5%;
        top: 350px;
        left: -20px;
    }
    .cont_1 .serve_2 .tab .tab_btn ul li{
        border: solid 2px #fff;
        display: block;
        width: 25px;
        height: 25px;
        margin: 60px 0;
        transition: all 1s;
        cursor: pointer;
    }
    .cont_1 .serve_2 .tab .tab_btn ul li.active{
        background: #fff;
        transition: all 1s;
    }

    /*tab_menu*/
    .cont_1 .serve_2 .tab .tab_menu{}
    .cont_1 .serve_2 .tab .tab_menu ul{
        position: relative;
    }
    .cont_1 .serve_2 .tab .tab_menu ul li{
        cursor: pointer;
    }


    /*tab_menu img위치조정*/
    .cont_1 .serve_2 .tab .tab_menu ul li .ch_img_1{
        position: absolute;
        left: 480px;
        top: 500px;
        opacity: 1;
        z-index: 10;
    }
    .cont_1 .serve_2 .tab .tab_menu ul li .ch_img_2{
        position: absolute;
        left: 250px;
        top: 180px;    
        opacity: 0.3;
        z-index: 9;
    }
    .cont_1 .serve_2 .tab .tab_menu ul li .ch_img_1 img{
        width: 250px;
    }
    .cont_1 .serve_2 .tab .tab_menu ul li .ch_img_2 img{
        width: 400px;
    }
    .cont_1 .serve_2 .tab .tab_menu ul li.active{
        transition: all 0.2s;
    }

    .cont_1 .serve_2 .tab_menu .tab_img_1{}
    .cont_1 .serve_2 .tab_menu .tab_img_2{
        overflow: hidden;
    }
    .cont_1 .serve_2 .tab_menu .tab_img_3{
    /*    overflow: hidden;*/
    }

    .cont_1 .serve_3{
        position: absolute;
        display: block;
        top: 300px;
        right: 10%;
    }
    .cont_1 .serve_bar{
        position: absolute;
        width: 20px;
        height: 450px;
    /*    background-image: linear-gradient( to bottom, #ffe888 0%, #cd00ff 100%);*/
        background-image: linear-gradient( to bottom, #ffee8d 0%,#f6d3bc 50%, #e006ff 100%);
        opacity: 0.7;
    }
    .cont_1 .serve_point{
        position: absolute;
        top: 100px;
        width: 20px;
        height: 13px;
        background-color: #fff;
    }
}
@media(max-width:1790px){
    #cont_1{}
/*    .container{width: 100%;}*/
    .row{padding: 0 28px;}
    .cont_1{
        padding: 0 100px;
    }

    /*serve_1*/
    .cont_1 .serve_1{
/*        position: relative;*/
    }

    /*title*/
    .cont_1 .serve_1 .title{
        position: absolute;
        float: right;
        top: 250px;
        right: 380px;
        display: block;
        z-index: 10;
    }
    .cont_1 .serve_1 .title span{
        position: absolute;
        display: block;
        font-weight: 200;
        letter-spacing: 10px;
        font-size: 30px;
        right: 0;
        bottom: 150px;
    }
    .cont_1 .serve_1 .title h1{
        font-weight: 500;
        font-size: 120px;
        letter-spacing: 10px;
    }


    /*text*/
    .cont_1 .serve_1 .text{
        display: inline-block;
        text-align: center;
    }
    .cont_1 .serve_1 .text_650px{
        display: none;
    }
    .cont_1 .serve_2 .text_500px{
        display: none;
    }
    .cont_1 .serve_1 .text p{
        position: absolute;
        top: 480px;
        right: 320px;
        font-weight: 300;
        font-size: 18px;
        line-height: 40px;
        z-index: 11;
        letter-spacing: 4px;
    }
    .cont_1 .serve_1 .text p span{
        font-weight: bold;
        font-size: 25px;
        letter-spacing: 10px;
        line-height: 50px;

    }
    /*serve_2*/
    .cont_1 .serve_2{}
    .cont_1 .serve_2 .tab{}


    /*tab_btn*/
    .cont_1 .serve_2 .tab .tab_btn{
        position: relative;
        transition: all 0.8s;
    }
    .cont_1 .serve_2 .tab .tab_btn ul{
        position: absolute;
        padding: 0 0 0 5%;
        top: 350px;
        left: -20px;
    }
    .cont_1 .serve_2 .tab .tab_btn ul li{
        border: solid 2px #fff;
        display: block;
        width: 25px;
        height: 25px;
        margin: 60px 0;
        transition: all 1s;
        cursor: pointer;
    }
    .cont_1 .serve_2 .tab .tab_btn ul li.active{
        background: #fff;
        transition: all 1s;
    }

    /*tab_menu*/
    .cont_1 .serve_2 .tab .tab_menu{}
    .cont_1 .serve_2 .tab .tab_menu ul{
        position: relative;
    }
    .cont_1 .serve_2 .tab .tab_menu ul li{
        cursor: pointer;
    }


    /*tab_menu img위치조정*/
    .cont_1 .serve_2 .tab .tab_menu ul li .ch_img_1{
        position: absolute;
        left: 450px;
        top: 500px;
        opacity: 1;
        z-index: 10;
    }
    .cont_1 .serve_2 .tab .tab_menu ul li .ch_img_2{
        position: absolute;
        left: 250px;
        top: 180px;    
        opacity: 0.3;
        z-index: 9;
    }
    .cont_1 .serve_2 .tab .tab_menu ul li .ch_img_1 img{
        width: 250px;
    }
    .cont_1 .serve_2 .tab .tab_menu ul li .ch_img_2 img{
        width: 400px;
    }
    .cont_1 .serve_2 .tab .tab_menu ul li.active{
        transition: all 0.2s;
    }

    .cont_1 .serve_2 .tab_menu .tab_img_1{}
    .cont_1 .serve_2 .tab_menu .tab_img_2{
        overflow: hidden;
    }
    .cont_1 .serve_2 .tab_menu .tab_img_3{
    /*    overflow: hidden;*/
    }

    .cont_1 .serve_3{
        position: absolute;
        display: block;
        top: 300px;
        right: 10%;
    }
    .cont_1 .serve_bar{
        position: absolute;
        width: 20px;
        height: 450px;
    /*    background-image: linear-gradient( to bottom, #ffe888 0%, #cd00ff 100%);*/
        background-image: linear-gradient( to bottom, #ffee8d 0%,#f6d3bc 50%, #e006ff 100%);
        opacity: 0.7;
    }
    .cont_1 .serve_point{
        position: absolute;
        top: 100px;
        width: 20px;
        height: 13px;
        background-color: #fff;
    }
}
@media(max-width:1730px){
    #cont_1{}
    .container{width: 100%;}
    .row{padding: 0 28px;}
    .cont_1{
        padding: 0 100px;
    }

    /*serve_1*/
    .cont_1 .serve_1{
/*        position: relative;*/
    }

    /*title*/
    .cont_1 .serve_1 .title{
        position: absolute;
        float: right;
        top: 250px;
        right: 320px;
        display: block;
        z-index: 10;
    }
    .cont_1 .serve_1 .title span{
        position: absolute;
        display: block;
        font-weight: 200;
        letter-spacing: 10px;
        font-size: 30px;
        right: 0;
        bottom: 150px;
    }
    .cont_1 .serve_1 .title h1{
        font-weight: 500;
        font-size: 120px;
        letter-spacing: 10px;
    }


    /*text*/
    .cont_1 .serve_1 .text_650px{
        display: none;
    }
    .cont_1 .serve_2 .text_500px{
        display: none;
    }
    .cont_1 .serve_1 .text{
        display: inline-block;
        text-align: center;
    }
    .cont_1 .serve_1 .text p{
        position: absolute;
        top: 480px;
        right: 300px;
        font-weight: 300;
        font-size: 15px;
        line-height: 40px;
        z-index: 11;
        letter-spacing: 4px;
    }
    .cont_1 .serve_1 .text p span{
        font-weight: bold;
        font-size: 25px;
        letter-spacing: 10px;
        line-height: 50px;

    }
    /*serve_2*/
    .cont_1 .serve_2{}
    .cont_1 .serve_2 .tab{}


    /*tab_btn*/
    .cont_1 .serve_2 .tab .tab_btn{
        position: relative;
        transition: all 0.8s;
    }
    .cont_1 .serve_2 .tab .tab_btn ul{
        position: absolute;
        padding: 0 0 0 5%;
        top: 350px;
        left: -20px;
    }
    .cont_1 .serve_2 .tab .tab_btn ul li{
        border: solid 2px #fff;
        display: block;
        width: 25px;
        height: 25px;
        margin: 60px 0;
        transition: all 1s;
        cursor: pointer;
    }
    .cont_1 .serve_2 .tab .tab_btn ul li.active{
        background: #fff;
        transition: all 1s;
    }

    /*tab_menu*/
    .cont_1 .serve_2 .tab .tab_menu{}
    .cont_1 .serve_2 .tab .tab_menu ul{
        position: relative;
    }
    .cont_1 .serve_2 .tab .tab_menu ul li{
        cursor: pointer;
    }


    /*tab_menu img위치조정*/
    .cont_1 .serve_2 .tab .tab_menu ul li .ch_img_1{
        position: absolute;
        left: 450px;
        top: 500px;
        opacity: 1;
        z-index: 10;
    }
    .cont_1 .serve_2 .tab .tab_menu ul li .ch_img_2{
        position: absolute;
        left: 250px;
        top: 180px;    
        opacity: 0.3;
        z-index: 9;
    }
    .cont_1 .serve_2 .tab .tab_menu ul li .ch_img_1 img{
        width: 250px;
    }
    .cont_1 .serve_2 .tab .tab_menu ul li .ch_img_2 img{
        width: 400px;
    }
    .cont_1 .serve_2 .tab .tab_menu ul li.active{
        transition: all 0.2s;
    }

    .cont_1 .serve_2 .tab_menu .tab_img_1{}
    .cont_1 .serve_2 .tab_menu .tab_img_2{
        overflow: hidden;
    }
    .cont_1 .serve_2 .tab_menu .tab_img_3{
    /*    overflow: hidden;*/
    }

    .cont_1 .serve_3{
        position: absolute;
        display: block;
        top: 300px;
        right: 10%;
    }
    .cont_1 .serve_bar{
        position: absolute;
        width: 20px;
        height: 450px;
    /*    background-image: linear-gradient( to bottom, #ffe888 0%, #cd00ff 100%);*/
        background-image: linear-gradient( to bottom, #f6d3bc 0%, #e006ff 100%);
        opacity: 0.7;
    }
    .cont_1 .serve_point{
        position: absolute;
        top: 100px;
        width: 20px;
        height: 13px;
        background-color: #fff;
    }
}
@media(max-width:1760px){
    .cont_1 .serve_1 .text p{
/*        right: 60000px;*/
    }
}
@media(max-width:1600px){
    #cont_1{}
    .container{width: 100%;}
    .row{padding: 0 28px;}
    .cont_1{
        padding: 0 100px;
    }

    /*serve_1*/
    .cont_1 .serve_1{
/*        position: relative;*/
    }

    /*title*/
    .cont_1 .serve_1 .title{
        position: absolute;
        float: right;
        top: 280px;
        right: 300px;
        display: block;
        z-index: 10;
    }
    .cont_1 .serve_1 .title span{
        position: absolute;
        display: block;
        font-weight: 300;
        letter-spacing: 10px;
        font-size: 1.5vw;
        right: 0;
        bottom: 115px;
    }
    .cont_1 .serve_1 .title h1{
        font-weight: 500;
        font-size: 6vw;
        letter-spacing: 10px;
    }


    /*text*/
    .cont_1 .serve_1 .text{
        display: inline-block;
        text-align: center;
    }
    .cont_1 .serve_1 .text p{
        position: absolute;
        top: 500px;
        right: 280px;
        font-weight: 300;
        font-size: 14px;
        line-height: 40px;
        z-index: 11;
        letter-spacing: 4px;
    }
    .cont_1 .serve_1 .text p span{
        font-weight: bold;
        font-size: 25px;
        letter-spacing: 10px;
        line-height: 50px;

    }
    /*serve_2*/
    .cont_1 .serve_2{}
    .cont_1 .serve_2 .tab{}


    /*tab_btn*/
    .cont_1 .serve_2 .tab .tab_btn{
        position: relative;
        transition: all 0.8s;
    }
    .cont_1 .serve_2 .tab .tab_btn ul{
        position: absolute;
        padding: 0 0 0 5%;
        top: 350px;
        left: -20px;
    }
    .cont_1 .serve_2 .tab .tab_btn ul li{
        border: solid 2px #fff;
        display: block;
        width: 25px;
        height: 25px;
        margin: 60px 0;
        transition: all 1s;
        cursor: pointer;
    }
    .cont_1 .serve_2 .tab .tab_btn ul li.active{
        background: #fff;
        transition: all 1s;
    }

    /*tab_menu*/
    .cont_1 .serve_2 .tab .tab_menu{}
    .cont_1 .serve_2 .tab .tab_menu ul{
        position: relative;
    }
    .cont_1 .serve_2 .tab .tab_menu ul li{
        cursor: pointer;
    }


    /*tab_menu img위치조정*/
    .cont_1 .serve_2 .tab .tab_menu ul li .ch_img_1{
        position: absolute;
        left: 430px;
        top: 460px;
        opacity: 1;
        z-index: 10;
    }
    .cont_1 .serve_2 .tab .tab_menu ul li .ch_img_2{
        position: absolute;
        left: 230px;
        top: 180px;    
        opacity: 0.3;
        z-index: 9;
    }
    .cont_1 .serve_2 .tab .tab_menu ul li .ch_img_1 img{
        width: 250px;
    }
    .cont_1 .serve_2 .tab .tab_menu ul li .ch_img_2 img{
        width: 400px;
    }
    .cont_1 .serve_2 .tab .tab_menu ul li.active{
        transition: all 0.2s;
    }

    .cont_1 .serve_2 .tab_menu .tab_img_1{}
    .cont_1 .serve_2 .tab_menu .tab_img_2{
        overflow: hidden;
    }
    .cont_1 .serve_2 .tab_menu .tab_img_3{
    /*    overflow: hidden;*/
    }

    .cont_1 .serve_3{
        position: absolute;
        display: block;
        top: 300px;
        right: 10%;
    }
    .cont_1 .serve_bar{
        position: absolute;
        width: 20px;
        height: 450px;
        background-image: linear-gradient( to bottom, #f6d3bc 0%, #e006ff 100%);
        opacity: 0.7;
    }
    .cont_1 .serve_point{
        position: absolute;
        top: 100px;
        width: 20px;
        height: 13px;
        background-color: #fff;
    }
}

@media(max-width:1480px){
    body{
        overflow-x: hidden;
    }
    /*serve_1*/
    .cont_1 .serve_1{
        position: relative;
    }

    /*title*/
    .cont_1 .serve_1 .title{
        position: absolute;
        float: right;
        top: 300px;
        right: 120px;
        display: block;
        z-index: 10;
    }
    .cont_1 .serve_1 .title span{
        position: absolute;
        display: block;
        font-weight: 300;
        letter-spacing: 10px;
        font-size: 20px;
        right: 0;
        bottom: 100px;
        line-height: 60px;
    }
    .cont_1 .serve_1 .title h1{
        font-weight: 500;
        font-size: 95px;
        letter-spacing: 10px;
    }


    /*text*/
    .cont_1 .serve_1 .text{
        display: inline-block;
        text-align: center;
    }
    .cont_1 .serve_1 .text p{
        position: absolute;
        top: 480px;
        right: 100px;
        font-weight: 200;
        font-size: 15px;
        line-height: 30px;
        z-index: 11;
    }
    .cont_1 .serve_1 .text p span{
        font-weight: bold;
        font-size: 20px;
        letter-spacing: 10px;

    }
    /*serve_2*/
    .cont_1 .serve_2{}
    .cont_1 .serve_2 .tab{}


    /*tab_btn*/
    .cont_1 .serve_2 .tab .tab_btn{
        position: relative;
        transition: all 0.8s;
    }
    .cont_1 .serve_2 .tab .tab_btn ul{
        position: absolute;
        top: 330px;
        left: -55px;
    }
    .cont_1 .serve_2 .tab .tab_btn ul li{
        border: solid 2px #fff;
        display: block;
        width: 20px;
        height: 20px;
        margin: 60px 0;
        transition: all 1s;
        cursor: pointer;
    }
    .cont_1 .serve_2 .tab .tab_btn ul li.active{
        background: #fff;
        transition: all 1s;
    }

    /*tab_menu*/
    .cont_1 .serve_2 .tab .tab_menu{}
    .cont_1 .serve_2 .tab .tab_menu ul{
        position: relative;
    }
    .cont_1 .serve_2 .tab .tab_menu ul li{
        cursor: pointer;
    }

    .cont_1 .serve_2 .tab .tab_menu ul li img{
        width: 280px;
    }

    /*tab_menu img위치조정*/
    .cont_1 .serve_2 .tab .tab_menu ul li .ch_img_1{
        position: absolute;
        left: 300px;
        top: 440px;
        opacity: 1;
        z-index: 10;
    }
    .cont_1 .serve_2 .tab .tab_menu ul li .ch_img_2{
        position: absolute;
        left: 100px;
        top: 200px;    
        opacity: 0.3;
        z-index: 9;
    }
    .cont_1 .serve_2 .tab .tab_menu ul li .ch_img_2 img{
        width: 380px;
    }
    .cont_1 .serve_2 .tab .tab_menu ul li.active{
        transition: all 0.2s;
    }

    .cont_1 .serve_2 .tab_menu .tab_img_1{}
    .cont_1 .serve_2 .tab_menu .tab_img_2{
        overflow: hidden;
    }
    .cont_1 .serve_2 .tab_menu .tab_img_3{
    /*    overflow: hidden;*/
    }
/*serve_3*/
    .cont_1 .serve_3{
        position: absolute;
        display: block;
        top: 370px;
        right: 5%;
        padding-right: 5%;
    }
    .cont_1 .serve_bar{
        position: absolute;
        width: 15px;
        height: 330px;
    /*    background-image: linear-gradient( to bottom, #ffe888 0%, #cd00ff 100%);*/
        background-image: linear-gradient( to bottom, #f6d3bc 0%, #e006ff 100%);
        opacity: 0.7;
    }
    .cont_1 .serve_point{
        position: absolute;
        top: 100px;
        width: 15px;
        height: 13px;
        background-color: #fff;
    }
}
@media(max-width:1300px){
    .cont_1 .serve_1 .text p{
        position: absolute;
        top: 500px;
        right: 120px;
        font-weight: 100;
        font-size: 12px;
        line-height: 23px;
        z-index: 11;
        letter-spacing: 3px;
    }
}
@media(max-width:1280px){
/*    .container{width: 100%;}*/
     .row{padding: 0 10px;}
/*serve_1*/
    .cont_1 .serve_1{
        position: relative;
    }

    /*title*/
    .cont_1 .serve_1 .title{
        position: absolute;
        float: right;
        top: 280px;
        right: 170px;
        display: block;
        z-index: 10;
    }
    .cont_1 .serve_1 .title span{
        position: absolute;
        display: block;
        font-weight: 300;
        letter-spacing: 10px;
        font-size: 20px;
        right: 0;
        bottom: 95px;
        line-height: 50px;
    }
    .cont_1 .serve_1 .title h1{
        font-weight: 500;
        font-size: 90px;
        letter-spacing: 10px;
    }


    /*text*/
    .cont_1 .serve_1 .text{
        display: inline-block;
        text-align: center;
    }
    .cont_1 .serve_1 .text p{
        position: absolute;
        top: 500px;
        right: 150px;
        font-weight: 100;
        font-size: 13px;
        line-height: 25px;
        z-index: 11;
        letter-spacing: 3px;
    }
    .cont_1 .serve_1 .text p span{
        font-weight: bold;
        font-size: 20px;
        letter-spacing: 10px;
    }
/*.serve_2 .tab_btn*/    
    .cont_1 .serve_2 .tab .tab_btn ul{
        position: absolute;
        top: 360px;
        left: -40px;
    }
    .cont_1 .serve_2 .tab .tab_btn ul li{
        width: 20px;
        height: 20px;
    }
    
 /*.serve_2 .tab_menu img위치조정*/
    .cont_1 .serve_2 .tab .tab_menu ul li img{
        width: 250px;
    }
    .cont_1 .serve_2 .tab .tab_menu ul li .ch_img_1{
        position: absolute;
        left: 300px;
        top: 440px;
        opacity: 1;
        z-index: 10;
    }
    .cont_1 .serve_2 .tab .tab_menu ul li .ch_img_2{
        position: absolute;
        left: 110px;
        top: 220px;    
        opacity: 0.3;
        z-index: 9;
    }
    .cont_1 .serve_2 .tab .tab_menu ul li .ch_img_2 img{
        width: 350px;
    }
/*.serve_3*/
    .cont_1 .serve_3{
        position: absolute;
        display: block;
        top: 400px;
        right: 6%;
    }
    .cont_1 .serve_bar{
        position: absolute;
        width: 13px;
        height: 300px;
        border-radius: 2%;
    /*    background-image: linear-gradient( to bottom, #ffe888 0%, #cd00ff 100%);*/
        background-image: linear-gradient( to bottom, #f6d3bc 0%, #e006ff 100%);
        opacity: 0.7;
    }
    .cont_1 .serve_point{
        position: absolute;
        top: 100px;
        width: 13px;
        height: 13px;
        background-color: #fff;
    }
}
@media(max-width:1255px){
    .cont_1 .serve_1 .text p{
        right: 110px;
    }
}
@media(max-width:1205px){
    .cont_1 .serve_1 .text p{
        right: 100px;
    }
}
@media(max-width:1195px){
    .container{width: 100%;}
    .row{width: 100%;}
/*serve_1*/
    .cont_1 .serve_1{
        position: relative;
    }

    /*title*/
    .cont_1 .serve_1 .title{
        position: absolute;
        float: right;
        top: 280px;
        right: 130px;
        display: block;
        z-index: 10;
    }
    .cont_1 .serve_1 .title span{
        position: absolute;
        display: block;
        font-weight: 300;
        letter-spacing: 8px;
        font-size: 20px;
        right: 0;
        bottom: 95px;
        line-height: 50px;
    }
    .cont_1 .serve_1 .title h1{
        font-weight: 500;
        font-size: 85px;
        letter-spacing: 8px;
    }


    /*text*/
    .cont_1 .serve_1 .text{
        display: inline-block;
        text-align: center;
    }
    .cont_1 .serve_1 .text p{
        position: absolute;
        top: 490px;
        right: 110px;
        font-weight: 100;
        font-size: 12px;
        line-height: 25px;
        z-index: 11;
        letter-spacing: 3px;
    }
    .cont_1 .serve_1 .text p span{
        font-weight: bold;
        font-size: 20px;
        letter-spacing: 7px;

    }
/*.serve_2 .tab_btn*/    
    .cont_1 .serve_2 .tab .tab_btn ul{
        position: absolute;
        top: 340px;
        left: -40px;
    }
    .cont_1 .serve_2 .tab .tab_btn ul li{
        border: solid 2px #fff;
        display: block;
        width: 16px;
        height: 16px;
        margin: 55px 0;
        transition: all 1s;
        cursor: pointer;
    }
 /*.serve_2 .tab_menu img위치조정*/
    .cont_1 .serve_2 .tab .tab_menu ul li img{
        width: 205px;
    }
    .cont_1 .serve_2 .tab .tab_menu ul li .ch_img_1{
        position: absolute;
        left: 280px;
        top: 430px;
        opacity: 1;
        z-index: 10;
    }
    .cont_1 .serve_2 .tab .tab_menu ul li .ch_img_2{
        position: absolute;
        left: 115px;
        top: 210px;    
        opacity: 0.3;
        z-index: 9;
    }
    .cont_1 .serve_2 .tab .tab_menu ul li .ch_img_2 img{
        width: 300px;
    }
/*.serve_3*/
    .cont_1 .serve_3{
        position: absolute;
        display: block;
        top: 380px;
        right: 5%;
    }
    .cont_1 .serve_bar{
        position: absolute;
        width: 12px;
        height: 250px;
        border-radius: 2%;
    /*    background-image: linear-gradient( to bottom, #ffe888 0%, #cd00ff 100%);*/
        background-image: linear-gradient( to bottom, #f6d3bc 0%, #e006ff 100%);
        opacity: 0.7;
    }
    .cont_1 .serve_point{
        position: absolute;
        top: 100px;
        width: 12px;
        height: 13px;
        background-color: #fff;
    }
}

@media(max-width:1150px){
    .container{width: 100%;}
    .row{width: 100%;}
/*serve_1*/
    /*title*/
    .cont_1 .serve_1 .title{
        top: 280px;
        right: 120px;
    }
    .cont_1 .serve_1 .title span{
        line-height: 50px;
    }
    .cont_1 .serve_1 .title h1{
        font-size: 85px;
        letter-spacing: 8px;
    }
    /*text*/
    .cont_1 .serve_1 .text p{
        right: 100px;
        font-weight: 100;
        font-size: 12px;
        letter-spacing: 2px;
        line-height: 25px;
    }
    .cont_1 .serve_1 .text p span{
        font-size: 18px;
        letter-spacing: 5px;
    }
/*.serve_2 .tab_btn*/    
    .cont_1 .serve_2 .tab .tab_btn ul{
        left: -40px;
        top: 320px;
    }
    .cont_1 .serve_2 .tab .tab_btn ul li{}
/*.serve_2 .tab_menu img위치조정*/
    .cont_1 .serve_2 .tab .tab_menu ul li .ch_img_1{
        left: 230px;
    }
    .cont_1 .serve_2 .tab .tab_menu ul li .ch_img_1 img{
        width: 220px;
    }
    .cont_1 .serve_2 .tab .tab_menu ul li .ch_img_2{
        left: 100px;
    }
/*.serve_3*/
    .cont_1 .serve_3{
        right: 6%;
        top: 350px;
    }
}

@media(max-width:1090px){
    .container{width: 100%;}
    .row{width: 100%;}
/*serve_1*/
    /*title*/
    .cont_1 .serve_1 .title{
        top: 280px;
        right: 100px;
    }
    .cont_1 .serve_1 .title span{
        line-height: 50px;
    }
    .cont_1 .serve_1 .title h1{
        font-size: 80px;
        letter-spacing: 8px;
    }

    /*text*/
    .cont_1 .serve_1 .text p{
        right: 100px;
        font-weight: 100;
        font-size: 13px;
        letter-spacing: 2px;
        line-height: 25px;
    }
    .cont_1 .serve_1 .text p span{
        font-size: 15px;
        letter-spacing: 5px;
    }
/*.serve_2 .tab_btn*/    
    .cont_1 .serve_2 .tab .tab_btn ul{
        left: -40px;
    }
    .cont_1 .serve_2 .tab .tab_btn ul li{}
    
/*.serve_3*/
    .cont_1 .serve_3{
        top: 360px;
        right: 6%;
    }
}
@media(max-width:1050px){
    .row{width: 100%;}
/*serve_1*/
    /*title*/
    .cont_1 .serve_1 .title{
        top: 300px;
        right: 50px;
    }
    .cont_1 .serve_1 .title span{
        line-height: 50px;
    }
    .cont_1 .serve_1 .title h1{
        font-size: 75px;
        letter-spacing: 8px;
    }

    /*text*/
    .cont_1 .serve_1 .text p{
        top: 500px;
        right: 25px;
        font-weight: 100;
        font-size: 13px;
        letter-spacing: 2px;
        line-height: 25px;
    }
    .cont_1 .serve_1 .text p span{
        font-size: 15px;
        letter-spacing: 5px;
    }
 /*tab_btn*/
    .cont_1 .serve_2 .tab .tab_btn{
        transition: all 0.8s;
        margin-right: 200px;
    }
    .cont_1 .serve_2 .tab .tab_btn ul{
        position: absolute;
        width: 200px;
        top: 690px;
        left: 537px;
    }
    .cont_1 .serve_2 .tab .tab_btn ul li{
        border: solid 2px #fff;
        display: inline-block;
        width: 20px;
        height: 20px;
        margin: 0 20px;
        transition: all 1s;
        cursor: pointer;
    }
    .cont_1 .serve_2 .tab .tab_btn ul li.active{
        background: #fff;
        transition: all 1s;
    }
/*.serve_2 .tab_menu img위치조정*/
    .cont_1 .serve_2 .tab .tab_menu ul li .ch_img_1{
        left: 200px;
        top: 470px;
    }
    .cont_1 .serve_2 .tab .tab_menu ul li .ch_img_2{
        left: 70px;
        top: 270px;
    }
/*.serve_3*/
    .cont_1 .serve_3{
        display: none;
    }
}
@media(max-width:1040px){
    .cont_1 .serve_2 .tab .tab_btn ul{
    left: 530px;
    }
}
@media(max-width:1030px){
    .cont_1 .serve_2 .tab .tab_btn ul{
    left: 520px;
    }
}
@media(max-width:1020px){
    .cont_1 .serve_2 .tab .tab_btn ul{
    left: 510px;
    }
}
@media(max-width:1010px){
    .cont_1 .serve_2 .tab .tab_btn ul{
    left: 503px;
    }
}
@media(max-width:1000px){
    .cont_1 .serve_2 .tab .tab_btn ul{
    left: 490px;
    }
}
@media(max-width:990px){
    .cont_1 .serve_2 .tab .tab_btn ul{
    left: 485px;
    }
}
@media(max-width:980px){
    .cont_1 .serve_2 .tab .tab_btn ul{
    left: 475px;
    }
}
@media(max-width:968px){
    .container{width: 100%;}
    .row{width: 100%;}
/*serve_1*/
    /*title*/
    .cont_1 .serve_1{
        position: relative;
    }
    .cont_1 .serve_1 .title{
        top: 180px;
        position: absolute;
        right: 20px;
    }
    .cont_1 .serve_1 .title span{
        font-size: 25px;
        letter-spacing: 8px;
        padding: 0;
        line-height: 1px;
        top: 0;
        right: 0;
    }
    .cont_1 .serve_1 .title h1{
        font-size: 85px;
        letter-spacing: 8px;
    }

    /*text*/
    .cont_1 .serve_1 .text p{
        text-align: left;
        top: 670px;
        width: 350px;
        left: 0;
        font-weight: 100;
        font-size: 15px;
        letter-spacing: 2px;
        line-height: 25px;
    }
 /*tab_btn*/
    .cont_1 .serve_2 .tab .tab_btn{
        position: relative;
        transition: all 0.8s;
    }
    .cont_1 .serve_2 .tab .tab_btn ul{
        position: absolute;
        top: 775px;
        left: 445px;
        width: 250px;
    }
    .cont_1 .serve_2 .tab .tab_btn ul li{
        border: solid 2px #fff;
        display: block;
        width: 300px;
        height: 10px;
        margin: 3px;
        transition: all 1s;
        cursor: pointer;
        float: right;
    }
    .cont_1 .serve_2 .tab .tab_btn ul li.active{
        width: 200px;
        border: solid 1px #fff;
        background: linear-gradient(to right, #fff,#ffee8d,#ffc627);
/*        background-image: linear-gradient( to right, #f6d3bc 0%, #e006ff 100%);*/
        transition: all 0.5s;
    }
/*.serve_2 .tab_menu img위치조정*/
    .cont_1 .serve_2 .tab .tab_menu{
        position: relative;
    }
    .cont_1 .serve_2 .tab .tab_menu ul li .ch_img_1{
        position: absolute;
        top: 324px;
        left: 470px;
    }
    .cont_1 .serve_2 .tab .tab_menu ul li .ch_img_1 img{
        width: 250px;
        padding: 0;
    }
    .cont_1 .serve_2 .tab .tab_menu ul li .ch_img_2{
        top: 100px;
        left: 0;
    }
    .cont_1 .serve_2 .tab .tab_menu ul li .ch_img_2 img{
        width: 370px;
    }
    
/*.serve_3*/
    .cont_1 .serve_3{
        display: none;
    }
}
@media(max-width:897px){
    .container{width: 100%;}
    .cont_1 .serve_1 .title{
        top: 170px;
        right: 20px;
    }
    .cont_1 .serve_1 .title h1{
        font-size: 80px;
    }
    .cont_1 .serve_1 .title span{
        padding: 0;
        line-height: 1px;
        top: 10px;
        right: 0;
    }
    .cont_1 .serve_1 .text p{
        top: 670px;
        width: 350px;
        left: -30px;
        font-weight: 100;
        font-size: 15px;
        letter-spacing: 2px;
        line-height: 25px;
    }
    .cont_1 .serve_2 .tab .tab_btn ul{
        top: 765px;
        left: 400px;
    }
    .cont_1 .serve_2 .tab .tab_btn ul li{
        height: 10px;
    }
    .cont_1 .serve_2 .tab .tab_menu ul li .ch_img_1{
        top: 324px;
        left: 420px;
    }
    .cont_1 .serve_2 .tab .tab_menu ul li .ch_img_2{
        top: 100px;
        left: -30px;
    }
}
@media(max-width:830px){
    .cont_1 .serve_1 .title{
        right: -40px;
    }
    .cont_1 .serve_1 .title h1{
        font-size: 75px;
    }
    .cont_1 .serve_1 .text p{
        left: -30px;
        font-weight: 100;
        font-size: 13px;
    }
    .cont_1 .serve_1 .text p span{
        font-size: 20px;
        line-height: 2;
    }
    .cont_1 .serve_2 .tab .tab_btn ul{
        left: 350px;
    }
    .cont_1 .serve_2 .tab .tab_btn ul li{
        height: 10px;
    }
    .cont_1 .serve_2 .tab .tab_menu ul li .ch_img_1{
        top: 324px;
        left: 380px;
    }
    .cont_1 .serve_2 .tab .tab_menu ul li .ch_img_2{
        top: 100px;
    }
}
@media(max-width:772px){
    .cont_1 .serve_1 .title{
        top: 250px;
        right: -40px;
    }
    .cont_1 .serve_1 .title span{
        font-size: 15px;
    }
    .cont_1 .serve_1 .title h1{
        font-size: 65px;
    }
    
    .cont_1 .serve_1 .text p{
        left: -30px;
        font-weight: 100;
        font-size: 13px;
    }
    .cont_1 .serve_1 .text p span{
        font-size: 20px;
        line-height: 2;
    }
    .cont_1 .serve_2 .tab .tab_btn ul{
        left: 280px;
    }
    .cont_1 .serve_2 .tab .tab_btn ul li{
        margin: 2px;
        height: 10px;
        width: 220px;
    }
    .cont_1 .serve_2 .tab .tab_btn ul li.active{
        width: 150px;
    }
    .cont_1 .serve_2 .tab .tab_menu ul li .ch_img_1{
        top: 390px;
        left: 350px;
    }
    .cont_1 .serve_2 .tab .tab_menu ul li .ch_img_1 img{
        width: 200px;
    }
    .cont_1 .serve_2 .tab .tab_menu ul li .ch_img_2{
        top: 190px;
    }
    .cont_1 .serve_2 .tab .tab_menu ul li .ch_img_2 img{
        width: 300px;
    }
}
@media(max-width:700px){
    .cont_1 .serve_1 .title{
        top: 250px;
        right: -40px;
    }
    .cont_1 .serve_1 .title span{
        font-size: 15px;
    }
    .cont_1 .serve_1 .title h1{
        font-size: 65px;
    }
    
    .cont_1 .serve_1 .text p{
        left: -30px;
        font-size: 12px;
    }
    .cont_1 .serve_1 .text p span{
        font-size: 16px;
        line-height: 2;
    }
    .cont_1 .serve_2 .tab .tab_btn ul{
        left: 214px;
    }
    .cont_1 .serve_2 .tab .tab_btn ul li{
        margin: 2px;
        height: 10px;
        width: 200px;
    }
    .cont_1 .serve_2 .tab .tab_btn ul li.active{
        width: 150px;
    }
    .cont_1 .serve_2 .tab .tab_menu ul li .ch_img_1{
        top: 390px;
        left: 285px;
    }
    .cont_1 .serve_2 .tab .tab_menu ul li .ch_img_1 img{
        width: 190px;
    }
    .cont_1 .serve_2 .tab .tab_menu ul li .ch_img_2{
        top: 190px;
    }
    .cont_1 .serve_2 .tab .tab_menu ul li .ch_img_2 img{
        width: 280px;
    }
}
@media(max-width:650px){
    .cont_1 .serve_1 .title{
        top: 120px;
        right: -30px;
    }
    .cont_1 .serve_1 .title span{
        font-size: 15px;
    }
    .cont_1 .serve_1 .title h1{
        font-size: 65px;
    }
    
    .cont_1 .serve_1 .text{
        display: none;
    }
    .cont_1 .serve_1 .text_650px{
        position: absolute;
        display:inline-block;
        top: 680px;
        left: 0px;
    }
    .cont_1 .serve_1 .text_650px p{
        right: 100px;
        font-weight: 100;
        font-size: 12px;
        letter-spacing: 2px;
        line-height: 20px;
    }
    .cont_1 .serve_1 .text_650px p span{
        font-size: 15px;
        letter-spacing: 5px;
/*        line-height: 3;*/
    }
    .cont_1 .serve_2 .tab .tab_btn ul{
        top: 820px;
        left: 120px;
        display: inline-block;
    }
    .cont_1 .serve_2 .tab .tab_btn ul li{
        float: left;
        border: solid 1px #fff;
        height: 15px;
        width: 50px;
        margin: 4px;
    }
    .cont_1 .serve_2 .tab .tab_btn ul li.active{
        width: 50px;
    }
    .cont_1 .serve_2 .tab .tab_menu{
        top: 60px;
        right: 0px;
    }
    .cont_1 .serve_2 .tab .tab_menu ul li .ch_img_1{
        top: 330px;
        left: 230px;
    }
    .cont_1 .serve_2 .tab .tab_menu ul li .ch_img_1 img{
        width: 170px;
    }
    .cont_1 .serve_2 .tab .tab_menu ul li .ch_img_2{
        top: 200px;
        left: 20px;
    }
    .cont_1 .serve_2 .tab .tab_menu ul li .ch_img_2 img{
        width: 230px;
    }
}
@media(max-width:600px){
    .cont_1 .serve_1 .title{
        top: 150px;
        right: -20px;
    }
    .cont_1 .serve_1 .title h1{
        font-size: 65px;
    }
    .cont_1 .serve_1 .title span{
        font-size: 15px;
        top: 0;
    }
    .cont_1 .serve_1 .text_650px{
        position: absolute;
        display:inline-block;
        width: 425px;
        top: 670px;
        left: 0px;
    }
    .cont_1 .serve_1 .text_650px p{
        font-size: 12px;
    }
    .cont_1 .serve_2 .tab .tab_btn ul{
        top: 800px;
        left: 75px;
        display: inline-block;
    }
    .cont_1 .serve_2 .tab .tab_btn ul li{
        float: left;
        border: solid 1px #fff;
        height: 15px;
        width: 50px;
        margin: 4px;
    }
    .cont_1 .serve_2 .tab .tab_btn ul li.active{
        width: 50px;
    }
    .cont_1 .serve_2 .tab .tab_menu{
        top: 60px;
        right: -0px;
    }
    .cont_1 .serve_2 .tab .tab_menu ul li .ch_img_1{
        top: 330px;
        left: 190px;
    }
    .cont_1 .serve_2 .tab .tab_menu ul li .ch_img_2{
        top: 200px;
        left: 0px;
    }
}
@media(max-width:520px){
    .cont_1 .serve_1 .title{
        top: 80px;
        left: -20%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .cont_1 .serve_1 .text_650px{
        display: none;
    } 
    .cont_1 .serve_1 .text_500px p{
        font-size: 12px;
    }
    .cont_1 .serve_2 .tab .tab_btn ul{
        top: 185px;
        left: 45%;
        z-index: 100;
        
    }
    .cont_1 .serve_2 .tab .tab_btn ul li{
        transition: all 0s;
    }
    .cont_1 .serve_2 .tab .tab_btn ul li.active{
        height: 17px;
        border: none;
        transition: all 0s;
    }
    
    
    
/*.tab_menu*/
   
    .cont_1 .serve_2 .tab .tab_menu{
        transition: all 0s;
    }
    .cont_1 .serve_2 .tab .tab_menu ul{
        left: 10%;
        top: 180px;
        transition: all 0s;
    }
    .cont_1 .serve_2 .tab .tab_menu ul li{
        float: left;
        z-index: 1;
        width: 220px;
        transition: all 0s;
    }
    .cont_1 .serve_2 .tab .tab_menu ul li .text_500px p span{
        margin-top: 5px;
        font-size: 18px;
        font-weight: bold;
        text-shadow: 1px 1px #fff;
         background: linear-gradient(to right, #d9b351, #ffee8d,#ffc627);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
     /*ch_img_1*/
    .cont_1 .serve_2 .tab .tab_menu ul li .ch_img_1{
        position: relative;
        display: block;
        width: 100%;
        top: 200%;
        left: 0%;
        z-index: 1;
        overflow: hidden;
        padding: 0;
    }
    .cont_1 .serve_2 .tab .tab_menu ul li .ch_img_1 .text_500px{
        position: absolute;
        display: flex;
        justify-content: center;
        background: rgba(0,0,0,0.7);
        background-size: 110% 100%;
        width: 70.5%;
        bottom: -45%;
        left: 5%;
        margin: 5%;
        padding: 5%;
        transition: all 0.3s;
    }
    .cont_1 .serve_2 .tab .tab_menu ul li .ch_img_1 .text_500px p{
        font-size: 12px;
    }
    .cont_1 .serve_2 .tab .tab_menu ul li .ch_img_1:hover .text_500px{
        bottom: 0%;
    }
    
    
     /*ch_img_2*/
    .cont_1 .serve_2 .tab .tab_menu ul li .ch_img_2{
        position: relative;
        display: block;
        width: 100%;
        top: 70%;
        left: 0%;
        opacity: 1;
        z-index: 1;
        overflow: hidden;
        padding: 0;
        margin-top: 30%;
        transition: all 0s;
    }
    .cont_1 .serve_2 .tab .tab_menu ul li .ch_img_2 .text_500px{
        position: absolute;
        display: block;
        background: rgba(0,0,0,0.7);
        background-size: 100% 0;
        width: 70.5%;
        justify-content: center;
        bottom: -50%;
        left: 5%;
        margin: 5%;
        padding: 5%;
        transition: all 0.3s;
        line-height: 1.5;
    }
    .cont_1 .serve_2 .tab .tab_menu ul li .ch_img_2 .text_500px p{
        font-size: 13px;
    }
    .cont_1 .serve_2 .tab .tab_menu ul li .ch_img_2:hover .text_500px{
        bottom: 0%;
    }
    .cont_1 .serve_2 .tab .tab_menu ul li .ch_img_1 img{
        width: 100%;
        display: block;
    }
    .cont_1 .serve_2 .tab .tab_menu ul li .ch_img_2 img{
        width: 100%;
        display: block;
    }
}
@media(max-width:480px){
    .cont_1 .serve_2 .tab .tab_menu ul{
        left: 2%;
        top: 180px;
    }
}
@media(max-width:415px){
    .cont_1 .serve_1 .title{
        top: 120px;
        left: -22%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .cont_1 .serve_1 .title h1{
        font-size: 57px;
    }
    .cont_1 .serve_2 .tab .tab_btn ul{
        top: 205px;
        left: -22px;
        z-index: 100;
    }
    .cont_1 .serve_2 .tab .tab_btn ul li{
        transition: all 0s;
        width: 30px;
        height: 15px;
    }
    .cont_1 .serve_2 .tab .tab_menu ul{
        left: -20px;
        top: 180px;
        transition: all 0s;
    }
}
@media(max-width:320px){
    .cont_1 .serve_1 .title{
        top: 120px;
        left: -30%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .cont_1 .serve_1 .title h1{
        font-size: 40px;
    }
    .cont_1 .serve_2 .tab .tab_btn ul{
        top: 205px;
        left: -65px;
        z-index: 100;
    }
    .cont_1 .serve_2 .tab .tab_btn ul li{
        transition: all 0s;
        width: 25px;
        height: 15px;
    }
    .cont_1 .serve_2 .tab .tab_btn ul li.active{
        width: 33px;
        height: 17px;
        border: none;
        transition: all 0s;
    }
    .cont_1 .serve_2 .tab .tab_menu ul{
        left: -65px;
        top: 180px;
        transition: all 0s;
    }
    .cont_1 .serve_2 .tab .tab_menu ul li{
        float: left;
        z-index: 1;
        width: 200px;
        transition: all 0s;
    }
    
    .cont_1 .serve_2 .tab .tab_menu ul li .ch_img_2{
        position: relative;
        display: block;
        width: 100%;
        top: 70%;
        left: 0%;
        opacity: 1;
        z-index: 1;
        overflow: hidden;
        padding: 0;
        margin-top: 20%;
        transition: all 0s;
    }
    .cont_1 .serve_2 .tab .tab_menu ul li .ch_img_2 .text_500px{
        position: absolute;
        display: block;
        background: rgba(0,0,0,0.7);
        background-size: 100% 0;
        width: 70.5%;
        justify-content: center;
        bottom: -50%;
        left: 5%;
        margin: 5%;
        padding: 5%;
        transition: all 0.3s;
        line-height: 1.5;
    }
    .cont_1 .serve_2 .tab .tab_menu ul li .ch_img_1 .text_500px p{
        font-size: 11px;
    }
    .cont_1 .serve_2 .tab .tab_menu ul li .ch_img_2 .text_500px p{
        font-size: 12px;
    }
}





















